/*
 * sircus-tools-layout-responsive(lg)
 ================================================== */

@media #{$g-viewport-lg} {
  .t-lg-pullRight  { float: right; }
  .t-lg-pullLeft   { float: left; }
  .t-lg-pullNone   { float: none; }

  .t-lg-static     { position: static; }
  .t-lg-absolute   { position: absolute; }
  .t-lg-fixed      { position: fixed; }
  .t-lg-relative   { position: relative; }

  .t-lg-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
